<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :artist_id %><br>
    <%= f.select(:artist_id) do %>
      <% Artist.all.each do |artist| %>
        <%= content_tag(:option, artist.name, value: artist.id) %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br>
    <%= f.select(:genre_id) do %>
      <% Genre.all.each do |genre| %>
        <%= content_tag(:option, genre.name, value: genre.id) %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
