<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<% @songs.each do |song| %>
<p><%= song.name %></p>
<p><%= song.artist %></p>
<p><%= song.genre %></p>

<td><%= link_to 'Show', song %></td>
<td><%= link_to 'Edit', edit_song_path(song) %></td>
<td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

<br>

<%= link_to 'New Song', new_song_path %>
